<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>765798684091-ni27e9bck85tahb8ufhiniup9dgmpbud.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.765798684091-ni27e9bck85tahb8ufhiniup9dgmpbud</string>
	<key>API_KEY</key>
	<string>AIzaSyDbe4CYq2CWgTlzc7NFt5DvGYC3t07r_Iw</string>
	<key>GCM_SENDER_ID</key>
	<string>765798684091</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.drony</string>
	<key>PROJECT_ID</key>
	<string>test-a08c3</string>
	<key>STORAGE_BUCKET</key>
	<string>test-a08c3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:765798684091:ios:b9617afe5a55c864cc209e</string>
</dict>
</plist>